{% extends "layout.html" %}
{% block title %}Alumni Listing {% endblock %}
{% block page %}ALUMNI LISTING{% endblock %}


{% block content %}
    <h1>Alumni Listing</h1>
    <p>Here you'll find alumni and their information</p>

##have to fix with rows and columns
    <!--<div>
        {% for alumni in lists %}
        <div class="card">
          <div class="column">
            <div class="container">
              <h4><b>{{alumni.name}}</b></h4>
              <p>{{alumni.email}}</p>
            </div>
          </div>
        </div>

        {% endfor %}
             
    </div>
  -->
  <!--
    <div class="row">
      {% for alumni in lists %}
      <div class="col s12 m3">
        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>{{alumni.name}}</b>
            </div>
            <div class="card-content">
              <p> <a href="mailto:{{alumni.email}}" >{{alumni.email}}</a> </p>
              
            </div>
            
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>

    -->
    <div class="row">
      
      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Jane Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/500/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:jane.doe@gmail.com" >jane.doe@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: jane.doe33</p>
              <p>Instagram: @jane_doe</p>
            </div>
            

          </div>
        </div>
      </div>
    
      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>John Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/501/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:john.doe@gmail.com" >john.doe@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: johndoe3</p>
              <p>Instagram: @john_doe</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Alice Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/502/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:alice.character@gmail.com" >alice.character@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: alice_Char</p>
              <p>Instagram: @alice._.char</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Bob Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/503/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:bob.character@gmail.com"" >bob.character@gmail.com"</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: bob_Character96</p>
              <p>Instagram: @bob._.char</p>
            </div>
          </div>
        </div>

      </div>

<div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Jane Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/504/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:jane.doe@gmail.com" >jane.doe@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: jane.doe33</p>
              <p>Instagram: @jane_doe</p>
            </div>
            

          </div>
        </div>
      </div>
    
      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>John Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/505/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:john.doe@gmail.com" >john.doe@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: johndoe3</p>
              <p>Instagram: @john_doe</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s6 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Alice Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/506/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:alice.character@gmail.com" >alice.character@gmail.com</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: alice_Char</p>
              <p>Instagram: @alice._.char</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s6 m3">
        
        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Bob Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/507/300?r" >
            </div>

            <div class="card-content">
              <p> <a href="mailto:bob.character@gmail.com"" >bob.character@gmail.com"</a> </p>
              <p>LinkedIn: tired</p>
              <p>Facebook: bob_Character96</p>
              <p>Instagram: @bob._.char</p>
            </div>
          </div>
        </div>

      </div>



    
    </div>

    
{% endblock %}