{% extends "layout.html" %}
{% block title %}Alumni Listing {% endblock %}
{% block page %}ALUMNI LISTING{% endblock %}


{% block content %}
    <h1>Alumni Listing</h1>
    <p>Here you'll find alumni and their information</p>

##have to fix with rows and columns
    <!--<div>
        {% for alumni in lists %}
        <div class="card">
          <div class="column">
            <div class="container">
              <h4><b>{{alumni.name}}</b></h4>
              <p>{{alumni.email}}</p>
            </div>
          </div>
        </div>

        {% endfor %}
             
    </div>
  -->
  <!--
    <div class="row">
      {% for alumni in lists %}
      <div class="col s12 m3">
        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>{{alumni.name}}</b>
            </div>
            <div class="card-image">
              <img="{{alumni.image}}">
            </div>

            <div class="card-content">
              <p><b>Degree:</b> {{alumni.programme}} </p>
              <P><b>Faculty:</b> {{alumni.faculty}} </P>
              <p><b>Department:</b> {{alumni.department}}</p>
              <p><b>Graduation Year:</b> {{alumni.graduationyear}}</p>
              #probs make a model for social media and access all through there or just put it one time
              <p><b>LinkedIn:</b> <a href="https://tt.linkedin.com/in/janedoe">janedoe</a></p>
              <p><b>Facebook:</b> <a href="https://www.facebook.com/jane.doe33">jane.doe33</a></p>
              <p><b>Instagram:</b> <a href="https://www.instagram.com/jane_doe">jane_doe</a></p>
              <p> <a href="mailto:{{alumni.email}}" >{{alumni.email}}</a> </p>
              
            </div>
            
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>

    -->
    <div class="row">
      
      <div class="col s12 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Jane Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/500/300?r" >
            </div>

            <div class="card-content">
              <p><b>Degree:</b> </p>
              <P><b>Faculty:</b> </P>
              <p><b>Department:</b> </p>
              <p><b>Graduation Year:</b> </p>
              <p><b>LinkedIn:</b> <a href="https://tt.linkedin.com/in/janedoe">janedoe</a></p>
              <p><b>Facebook:</b> <a href="https://www.facebook.com/jane.doe33">jane.doe33</a></p>
              <p><b>Instagram:</b> <a href="https://www.instagram.com/jane_doe">jane_doe</a></p>
              <p> <a href="mailto:jane.doe@gmail.com" >jane.doe@gmail.com</a> </p>
            </div>
            

          </div>
        </div>
      </div>
    
      <div class="col s12 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>John Doe</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/501/300?r" >
            </div>

            <div class="card-content">
              <p><b>Degree:</b> </p>
              <P><b>Faculty:</b> </P>
              <p><b>Department:</b> </p>
              <p><b>Graduation Year:</b> </p>
              <p><b>LinkedIn:</b> <a href="https://tt.linkedin.com/in/johndoe">johndoe</a></p>
              <p><b>Facebook:</b> <a href="https://www.facebook.com/johndoe3">johndoe3</a></p>
              <p><b>Instagram:</b> <a href="https://www.instagram.com/john_doe">john_doe</a></p>
              <p> <a href="mailto:john.doe@gmail.com" >john.doe@gmail.com</a> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Alice Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/502/300?r" >
            </div>

            <div class="card-content">
              <p><b>Degree:</b> </p>
              <P><b>Faculty:</b> </P>
              <p><b>Department:</b> </p>
              <p><b>Graduation Year:</b> </p>
              <p><b>LinkedIn:</b> <a href="https://tt.linkedin.com/in/aliceChar">aliceChar</a></p>
              <p><b>Facebook:</b> <a href="https://www.facebook.com/alice_Char">alice_Char</a></p>
              <p><b>Instagram:</b> <a href="https://www.instagram.com/alice._.char">alice._.char</a></p>
              <p> <a href="mailto:alice.character@gmail.com" >alice.character@gmail.com</a> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m3">

        <div class="card ">
          <div class="card-content">
            <div class="card-title">
              <b>Bob Character</b>
            </div>

            <div class="card-image">
              <img src="https://placedog.net/503/300?r" >
            </div>

            <div class="card-content">
              <p><b>Degree:</b> </p>
              <P><b>Faculty:</b> </P>
              <p><b>Department:</b> </p>
              <p><b>Graduation Year:</b> </p>
              <p><b>LinkedIn:</b> <a href="https://tt.linkedin.com/in/bobChar">bobChar</a></p>
              <p><b>Facebook:</b> <a href="https://www.facebook.com/bob_Char96">bob_Char96</a></p>
              <p><b>Instagram:</b> <a href="https://www.instagram.com/bob._.char">bob._.char</a></p>
              <p> <a href="mailto:bob.character@gmail.com"" >bob.character@gmail.com"</a> </p>
            </div>
          </div>
        </div>

      </div>

      


    
    </div>

    
{% endblock %}