{% extends "layout.html" %}
{% block title %}Alumni Gallery App{% endblock %}
{% block page %}Alumni Gallery{% endblock %}

{{ super() }}

{% block content %}
<br>
<br>
    <h1>Welcome to the Alumni Gallery </h1>
    <br>
    <br>
    <p></p>
    
    <div class="slideshow-container">
      <div class="slides">
        <a href="https://ibb.co/qMFky7C"><img src="https://i.ibb.co/gMFzjmd/slide1-jpg.jpg" alt="slide1-jpg" border="0" /></a>
      </div>
    
      <div class="slides">
        <a href="https://ibb.co/71zvgxx"><img src="https://i.ibb.co/XC4Xyff/slide2-jpg.jpg" alt="slide2-jpg" border="0" /></a>
      </div>
    
      <div class="slides">
        <a href="https://ibb.co/PMzmxcw"><img src="https://i.ibb.co/ZS1LdBW/slide3-jpg.jpg" alt="slide3-jpg" border="0" /></a>
      </div>
      
  </div>
  
  <style>
    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      max-width: 500px;
      position: relative;
      margin: auto;
    }
    h1{
      text-align:center;
    }
  </style>

  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("slides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      slides[slideIndex-1].style.display = "block";
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
  </script>
  

{% endblock %}