{% extends "layout.html" %}
{% block title %}Job Board{% endblock %}
{% block page %}JOB BOARD{% endblock %}


{% block content %}
<!--
    <h1>Job Board</h1>
    <p>Here you'll find job titles, job descriptions, employer information for jobs currently available</p>

    <div class = "row">
      <table class="col m6 offset-m3">
        <thead>
          <th>id</th>
          <th>Name</th>
          <th>Company</th>
          <th>Email</th>
          <th>Required Experience</th>
          <th>Job Details</th>
        </thead>

      
        <tbody>
          {% for job in board %}
            <tr> 
              <td>{{job.id}}</td>
              <td>{{job.name}}</td>
              <td>{{job.company}}</td>
              <td>{{job.email}}</td>
              <td>{{job.experience}}</td> 
              <td>{{job.details}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  -->
  <p><u><b>To show interest in jobs, please email the respective companies your resume and cover letter, stating that the advertisement was found on this Alumni Gallery.</b></u></p>
  <div class="row">
    {% for job in board %}
    <div class="col s12 m12">
      <div class="card ">
        <div class="card-content">
          <div class="card-title">
            <b>{{job.name}}</b>
          </div>
          <div class="card-content">
            <p> <b>Company:</b> {{job.company}}</p>
            <p> <b>Email:</b> <a href="mailto:{{job.email}}" >{{job.email}}</a> </p>
            
            
            <p> <b>Experience Needed:</b> {{job.experience}}</p>
            <p> <b>Job Details:</b> {{job.details}}</p>
          </div>
          
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
  


{% endblock %} 


