{% extends "layout.html" %}
{% block title %}Log in{% endblock %}
{% block page %}LOG IN{% endblock %}

{{ super() }}

{% block content %}
    <h1>Log in</h1>
{% endblock %}

<div class = "row">
    <form id = "myForm" class = "col s12">
        <div class = "row">
            <div class = " input-field col s12">
                <raw-input name = "username" type = "text" required></raw-input>
                <label for = "username">Username</label>
            </div>
        </div>
        <div class ="row">
            <div class = "input-field col s12">
                <raw-input name = "password" type="password" required pattern ="^(?.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"></raw-input>
                <label for = "password">Password</label>
            </div>
        </div>
        <div class ="row">
            <div class = "col s12">
                <input name="Enter" class="btn waves-effect waves-light purple" value = "Login">
            </div>
        </div>
    </form>
</div>
